html,body {
	height: 100%;
	margin: 0; padding: 0;
}
figure {
	margin: 0;
	padding: 0;
}
#map { height: 100%; }

.sidebar-img img {
	max-width: 100% !important;
}
.popup-adoptado .leaflet-popup-content-wrapper,
.popup-adoptado .leaflet-popup-tip{
	background-color: #ff0;
}
.popup-adoptado a.leaflet-popup-close-button {
	color: #000;
}

.adopta-coords {
	font: bold 20px/20px sans-serif;
	word-wrap: break-word;
}
