html,body {
	height: 100%;
	margin: 0; padding: 0;
}
#map { height: 100%; }

.popup-adoptado .leaflet-popup-content-wrapper,
.popup-adoptado .leaflet-popup-tip{
	background-color: #fc0;
}
.popup-adoptado a.leaflet-popup-close-button {
	color: #fff;
}
